* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #f4f4f4;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  border-bottom: 2px solid #999999;
}

footer {
  border-top: 2px solid #999999;
}

header,
footer {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}

main {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.display-panel {
  display: flex;
  flex: 1;
  gap: 10px;
  height: 100%;
  max-height: 100vh;
}

.input-panel {
  flex: 0 0 30%;
  border-right: 2px solid #999999;
  padding: 10px;
}

.output-panel {
  flex: 1;
  padding-inline: 2vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.control-panel {
  border-right: 2px solid #999999;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.report-list {
  max-height: 1vh;
}

.report-card {
  padding-bottom: 20px;
}