* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

header,
footer {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  flex-shrink: 0;
  border-bottom: 2px solid #999999;
}

footer {
  border-top: 2px solid #999999;
}

.app-main {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
}

.display-panel {
  display: flex;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
}

.control-panel {
  width: 250px;
  border-right: 2px solid #999999;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}

.control-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.output-panel {
  flex-grow: 1;
  padding-inline: 2vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.output-panel__output > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.no-such-action {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}