:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #2f4f4f;
  cursor: pointer;
  transition: border-color 0.25s;
  color: aliceblue;
}

button:hover {
  border-color: #242424;
  background-color: #3d5a5a;
}

select,
input {
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 0.4em 0.8em;
  font-size: 0.95em;
  font-family: inherit;
  background-color: #f0f0f0;
  color: #2f4f4f;
  transition: border-color 0.25s, background-color 0.25s;
  outline: none;
}

select:hover,
input:hover {
  background-color: #e6e6e6;
}

select:focus,
input:focus {
  border-color: #999999;
  background-color: #e6e6e6;
}
